.header-wrapper {
    display: flex;
    flex-direction: row;

    z-index: 5;
    background-color: white;

    padding-bottom: 5px;
    border-bottom: 2px solid gainsboro;

    .logo {
        margin: 10px auto;
        height: 100%;
        width: 20rem;

        border-radius: 2rem;
        border: 2px solid gainsboro;
        background-color: gainsboro;

        color: black;
        text-align: center;
        text-decoration: none;
    }
}